@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------ added --------------*/

/* Navigation */

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* back to top btn and scrollbar settings */

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  font-family: var(--font-rubik), sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 1px solid #9ca3af;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

ol {
  list-style-type: decimal;           
  list-style-position: inside;        
  margin-top: 1rem;                  
  margin-bottom: 1rem;                 
  font-family: var(--font-rubik), sans-serif; 
}